.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #bf5700;
  color: white;
}
main {
  display: flex;
   flex: 1;
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #bf5700;
  color: white;
}

.loadMore {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
